
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1{
  color:red;
  padding:100px, 100px, 100px,500px;
  font-family:URW Chancery L;
  font-size:40px;
}

h3{
  color:green;
  position:relative;
  font-family:Apple Chancery;
  padding:300px, 0px, 0px, 400px;
  font-size:30px;
}
#e01{
  position:relative;
  padding-left:50px;

}

#e02{
  position:absolute;
  padding-left:520px;
  margin-bottom:300px;
}
