
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1{
  color:red;
  padding:300px, 100px, 100px, 100px;

}

h3{
  color:green;
  position:relative:
  padding:300px, 0px, 0px, 400px;
}

#a01{
  padding:100px, 100px, 100px,100px;
  position:relative;

}

#a02{
  color:green;
  padding:100px,100px,100px,100px;
}
